html,
body,
.container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
table {
    margin: 0;
    padding: 0;
}

.parent {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex: 1 10%;
    background-color: #FFFFFF;
    width: 100%;
}

.icon {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.applications {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline;
    margin: 10px;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    color: grey;

}

.search {
    background-color: yellow;
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section {
    display: flex;
    flex: 1 90%;
    background-color: #3F51B5;
    flex-direction: column;
    background-image: url("../images/wasp.png");
    background-repeat: no-repeat;
    background-position-x: 80%;
}

.section1 {
    display: flex;
    flex: 1 75%;
    border-bottom: 2px solid #5061BC;
}

.content {
    width: 100%;
    padding-left: 8%;
    padding-top: 4%;
}

.text {
    width: 70%;
}

.readmore {
    margin-top: 3%;
}

h4 {
    color: gray;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    font-weight: bold;
    width: 65%;
}

.image {
    width: 10%;
    margin-top: 15%;
    margin-right: 17%;
    color: #ffffff;
}

.section2 {
    display: flex;
    flex: 1 15%;
}

.items {
    display: flex;
    flex: 1;
}

.items1 {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.items2,
.items3,
.items4,
.items5 {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.items6 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

h3 {
    color: aliceblue;
    width: 50%;
    font-weight: bold;
}